<div class="container rounded mt-1">
    {{#if sinProductos}}
    <div class="alert alert-danger"> No hay productos en el inventario </div>

    {{else}}
    <table class="rounded table table-info table-striped table bordered text-center">
        <thead class=" rounded text-white">
            <th class="bg-info">
                <h6 class="font-weight-bold">Identificador</h6>
            </th>
            <th class="bg-info">
                <h6 class="font-weight-bold">Nombre</h6>
            </th>
            <th class="bg-info">
                <h6 class="font-weight-bold">Descripcion</h6>
            </th>
            <th class="bg-info">
                <h6 class="font-weight-bold">Precio</h6>
            </th>
            <th class="bg-info">
                <h6 class="font-weight-bold">Stock</h6>
            </th>
            <th class="bg-info">
                <h6 class="font-weight-bold">Imagen</h6>
            </th>
            <th class="bg-info">
                <h6 class="font-weight-bold">Codigo</h6>
            </th>
            <th class="bg-info">
                <h6 class="font-weight-bold">TimeStamp</h6>
            </th>
        </thead>
        <tbody>
            {{#each productos}}
            <tr scope="row">
                <td>{{id}}</td>
                <td>{{nombre}}</td>
                <td>{{descripcion}}</td>
                <td>{{precio}}</td>
                <td>{{stock}}</td>
                <td> <img width=100% src={{imagen}} alt=""></td>
                <td>{{codigo}}</td>
                <td>{{timestamp}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>